{% extends 'base.html' %}
{% load i18n %}
{% load allauth account %}
{% load socialaccount %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css"
      rel="stylesheet"
    />
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
  </head>
  <body>
    <div class="container my-5 w-25 shadow-md rounded-xl bg-white p-6">
        <form method="post" class="login" action="{% url 'account_login' %}">
            {% csrf_token %}
            <div class="form-outline mb-4">
            {% with form.login as login_input %}
                
                    <input type="{{ login_input.field.widget.input_type }}"
                       id="{{ login_input.id_for_label }}"
                       class="form-control"
                       name="{{ login_input.name }}"
                       {% if login_input.field.required %}required{% endif %} />
                <label class="form-label" for="{{ login_input.id_for_label }}">{{ login_input.label }}</label>
                
                    
                
            {% endwith %}
            </div>
            <div class="form-outline mb-4">
            {% with form.password as password_input %}
                
                    <input type="{{ password_input.field.widget.input_type }}"
                           id="{{ password_input.id_for_label }}"
                           class="form-control"
                           name="{{ password_input.name }}"
                           {% if password_input.field.required %}required{% endif %} />
                    <label class="form-label" for="{{ password_input.id_for_label }}">{{ password_input.label }}</label>
                    {{ form.password.errors|safe }}
                
            {% endwith %}
            </div>
            <p style="color: red">{{ form.non_field_errors | safe }}</p>
            <div class="row mb-4">
                <div class="col d-flex justify-content-center">
                    <div class="form-check">
                        {{ form.remember }}
                        <label for="{{ form.remember.id_for_label }}" class="form-check-label">Remember me</label>
                    </div>
                </div>
                <div class="col">
                    <a href="{% url 'account_reset_password' %}">Forgot password?</a>
                </div>
            </div>
            
            <div class="col-6">
                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
            </div>
                <button class="btn btn-primary w-100 py-3 bg-accent" type="submit">Sign in</button>
            <div class="text-center">
                <p>Not a member? <a href="{% url 'account_signup' %}" class="text-blue-500 hover:underline">Register here</a></p>
                <p>or sign up with:</p>
                 <button type="button" class="btn btn-link btn-floating mx-1">
                    <a href="{% provider_login_url 'google' %}">
                      <i class="fab fa-google fa-2x hover:text-yellow-500 transition duration-300 transform hover:scale-110"></i>
                    </a>
                 </button>

            </div>
        </form>
    </div>
   <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"
    ></script>
  </body>
</html>
{% endblock %}